{% extends "base.html" %}

{% block title %}Sur Nous{% endblock %}

{% block content %}
<div class="container">
  <h1 class="page-header">Sur Nous <small>La banque alimentaire pour tous</small></h1>
  <p class="lead">Pourquoi choisir Aldi Express ?</p>
  <p>
  </p>

  <!-- ALIGNMENT -->
  <!--
  <p class="text-left text-lowercase">Left aligned text.</p>
  <p class="text-center">Center aligned text.</p>
  <p class="text-right">Right aligned text.</p>
  <p class="text-justify">Justified text.</p>
  <p class="text-nowrap">No wrap text.</p>
  -->
  <blockquote>
    <p>Que ton aliment soit ta seule médecine !</p>
    <footer><cite title="Source Title">Hippocrate</cite></footer>
  </blockquote>

  <p>
  Fondée en 2021, notre objectif est de permettre à nos concitoyens et aux étudiants qui en ont besoin de bénéficier d'aides,
  que ce soit des biens de première nécessité ou des aides alimentaires afin de supporter au mieux les personnes dans le besoin durant la crise de la COVID-19.
  </p>
  <!--
    <ul>
    <li>Lorem </li>
    <li>ipsum</li>
    </ul>

    <a class="btn btn-default" href="#" role="button">Link</a>
    <button class="btn btn-default" type="submit">Button</button>
    <input class="btn btn-default" type="button" value="Input">
    <input class="btn btn-default" type="submit" value="Submit">
    <hr>
  -->
  <a href="/products/index">Retour Index</a><br>
</div>


<!-- Standard button -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
{% endblock %}
